<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>Обучающий портал</title>
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"
              ><img src="img/logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#popular_courses">Направления</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#events_area">Новости</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner_content text-center">
                <p class="text-uppercase">
                  Лучший сервис для обучения
                </p>
                <h2 class="text-uppercase mt-4 mb-5">
                  Один шаг до знаний
                </h2>
                <div>
                  <a href="#section_gap_top" class="primary-btn2 mb-3 mb-sm-0">Подробнее</a>
                  <a href="#popular_courses" class="primary-btn ml-sm-3 ml-0">Посмотреть направления</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap_top" id="section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Прекрасное будущее</h2>
              <p>
                Достигни невероятных высот благодаря полученным знаниям
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Начни учиться</h4>
                <p>
                  Сперва кажется, что это что-то невозможное, но не стоит так говорить, пока не попробуешь!
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Выполняй задания</h4>
                <p>
                  Для закрепления знаний к каждой теме разработанны задачи
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-earth"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Получи сертификат</h4>
                <p>
                  После прохождения обучения, каждый получит подтверждающий сертификат
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->

    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses" id="popular_courses">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">В каких направлениях мы работаем</h2>
              <p>
                Всегда есть возможность выбрать то, что тебе по душе
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single course -->
          <div class="col-lg-12">
            <div class="owl-carousel active_course">
              <div class="single_course" th:each="entity : ${listTrend}">
                <div class="course_head">
                  <img class="img-fluid" th:src="${entity.urlToImage}" />
                </div>
                <div class="course_content">
                  <span class="price" th:text="${entity.price}">$25</span>
<!--                   <span class="tag mb-4 d-inline-block">Java1</span> -->
                  <h4 class="mb-3" th:text="${entity.title}">
<!--                     <a href="course-details.html">Обучение основам</a> -->
                  </h4>
                  <p th:text="${entity.text}">
                    Быстрое получение знаний по основам программирования на языке высокого уровня Java. С первых же уроков вы начинаете писать программы своими руками!
                  </p>
                </div>
              </div>            

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ End Popular Courses Area =================-->

    <!--================ Start Registration Area =================-->
    <div class="section_gap registration_area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="row clock_sec clockdiv" id="clockdiv">
              <div class="col-lg-12">
                <h1 class="mb-3">Зарегистрируйся сейчас</h1>
                <p>
                  В жизни каждого человека наступает момент, когда пора что-то изменить в своей жизни. И сейчас для этого есть все возможности
                </p>
              </div>              
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1">
            <div class="register_form">
              <h3>Пока есть шанс</h3>
              <p>Самое время учиться</p>
              <form
                class="form_area"
                id="myForm"
                action="mail.html"
                method="post"
              >
                <div class="row">
                  <div class="col-lg-12 form_group">
                    <input
                      name="name"
                      placeholder="Ваше ФИО"
                      required=""
                      type="text"
                    />
                    <input
                      name="name"
                      placeholder="Номер вашего телефона"
                      required=""
                      type="tel"
                    />
                    <input
                      name="email"
                      placeholder="Адрес вашей почты"
                      pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                      required=""
                      type="email"
                    />
                  </div>
                  <div class="col-lg-12 text-center">
                    <button class="primary-btn">Отправить</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ End Registration Area =================-->

    <!--================ Start Trainers Area =================-->
    <section class="trainer_area section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Наши эксперты</h2>
              <p>
                Да-да, вас будут обучать не абы-кто, а эксперты в своей области!
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="img/trainer/t1.jpg" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>Игорь Рябчиков</h4>
              <p class="designation">Веб-дизайнер</p>
              <div class="mb-4">
                <p>
                  Имеет опыт разработки более 15 лет в своей сфере. Обучит как основам дизайна, так и секретам работы с ним
                </p>
              </div>              
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="img/trainer/t2.jpg" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>Дэвид Кэмеронn</h4>
              <p class="designation">Java Senior</p>
              <div class="mb-4">
                <p>
                  Управляет командой разработки программного обеспечения, обучит вас кака языку, так и как вести и управлять проектами
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="img/trainer/t3.jpg" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>Михаил Потапов</h4>
              <p class="designation">Python программисо</p>
              <div class="mb-4">
                <p>
                  Если вам интересен искусственный интелект, создание и ведение сайтов, а также другие вещи, связанные с питоном, то он к вашим услугам
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="img/trainer/t4.jpg" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>Александр Саньенов</h4>
              <p class="designation">.NET разработчик</p>
              <div class="mb-4">
                <p>
                  Специалист в области разработки программного обеспечения для Windows и web-платформы. И поверьте, он может обучивать вас очень многому
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Trainers Area =================-->

    <!--================ Start Events Area =================-->
    <div class="events_area" id="events_area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3 text-white">Новости</h2>
              <p>
                События случаются
              </p>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
            <div class="owl-carousel testi_slider">
            
              <div class="single_course" th:each="entity : ${listNews}">
                <div class="course_head">
                  <img class="img-fluid" th:src="${entity.urlToImage}" />
                </div>
                <div class="course_content">
                  <span class="dateNews" th:text="${entity.dates}">25.05.2020</span><br>
                  <span class="tag mb-4 d-inline-block" th:text="${entity.title}">Все набранные участники поступили в гарвард</span>                  
                  <p th:text="${entity.text}">
                    Так уж вышло, что к нам на обучение пришло 15 человек, которые продолжили учиться по нашей методике. И вот, все они подали заявления на поступление в гарвард и прошли!
                  </p>
<!--                   <a href="#" class="primary-btn">Подробнее</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ End Events Area =================-->

    <!--================ Start Testimonial Area =================-->
    <div class="testimonial_area section_gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Что говорят те, кто у нас учился?</h2>
              <p>
                Реальные отзывы от учащихся
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="testi_slider owl-carousel">
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <img src="img/testimonials/t1.jpg" alt="" />
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Мартин Фримен</h4>
                    <p>
                      Я бы никогда не подумал, что обучаться таким вещам может быть столь легко и интересно. Большое спасибо специалистам за качественное обучение!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <img src="img/testimonials/t2.jpg" alt="" />
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Игорь Менделеев</h4>
                    <p>
                      Я сразу не решил, какое направление выбрать, так что отправил заявку на сайте. Мне написали, а затем позвонили и помогли с выбором.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <img src="img/testimonials/t1.jpg" alt="" />
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Корней Минаткин</h4>
                    <p>
                      Благодарю всех специалистов за обучение! Былоневероятно интересно, благодаря этому я наконец таки смог устроиться на работу своей мечты
                    </p>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <!--================ End Testimonial Area =================-->

    <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">
        
        <div class="row footer-bottom d-flex justify-content-between">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">            
            Сделано &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены
          </p>          
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/owl-carousel-thumb.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
