<!DOCTYPE html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="icon" href="img/favicon.png" type="image/png" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/flaticon.css" />
<link rel="stylesheet" href="/css/themify-icons.css" />
<link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
<link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
<!-- main css -->
<link rel="stylesheet" href="/css/style.css" />
<title>Вход</title>
</head>
<body>



	<div id="container" class="loginForm">
		<form action="/login1" method="POST">
			<label for="name">Логин:</label> <input type="name" name="username">
			<label for="username">Пароль:</label>
			<p></p>
			<input type="password" name="password">
			<div id="lower">
				<input type="submit" value="Войти">
			</div>
		</form>
	</div>
</body>
</html>






