<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Добавить/Редактировать</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="icon" href="img/favicon.png" type="image/png" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/flaticon.css" />
<link rel="stylesheet" href="/css/themify-icons.css" />
<link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
<link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
<!-- main css -->
<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<section class="page add-edit">
		<div class="container my-5">
			<div class="row">
				<div class="col col-md-8 mx-auto">
					<div class="card">
						<div class="card-body">
							<h3 class="text-center">Добавление/Редактировнаие</h3>
							<div class="">
								<form action="#" th:action="@{/admin/news/create}"
									th:object="${entity}" method="post">
									<div class="form-add-edit">
										<div class="form-group col">
											<label class="col-form-label">Заголовок</label> 
											<input type="text" th:field="*{title}" name="title" class="form-control" />
										</div>
										<div class="form-group col">
											<label class="col-form-label">Дата</label> 
											<input type="date" th:field="*{dates}" name="dates" class="form-control"/>
										</div>
										<div class="form-group col">
											<label class="col-form-label">Описание</label> 
											<textarea th:field="*{text}" name="text" class="form-control"> </textarea>
										</div>
										<div class="form-group col">
											<label class="col-form-label">Ссылка на изображение</label> 
											<input type="text" th:field="*{urlToImage}" name="urlToImage" class="form-control" />
										</div>
										
										<div class="form-group col-md-6">
											<input type="submit" class="btn btn-primary" value=" Отправить "> 
											<input type="button" class="btn btn-primary" value=" Назад " onclick="history.back()" />
										</div>
										<input type="hidden" id="id" th:field="*{id}">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>

</html>